beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.3.3
MarkupSafe==1.1.1
Pillow==8.2.0
pyaes==1.6.1
Pyrogram==0.8.0
PySocks==1.6.8
requests==2.21.0
soupsieve==1.9
TgCrypto==1.1.1
tgintegration==0.2.4
urllib3==1.24.1
Werkzeug==0.15.2
WTForms==2.2.1
