{% extends "base.html" %}

{% block content %}
    <div class="spacer"></div>
	<div class="spacer"></div>
	<div class="container-fluid">
  <div class="row">
  <div class="col-sm-12 centr">
  	<h2 class = "centered">About</h2>
  	132512123415241525412
  	</div>
</div>

<div class="row">
  <div class="col-sm-12">
  	<h2 class= "centered">Tech stack</h2>
  	<p>For now, being in active development, website based on bootstrap, the backend is Flask, the script is written in python3.7 using the PIL library.</p>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
  	<h2 class= "centered">How its work?</h2>
  	12651521526516526152656
  </div>
</div>



  <div class="spacer"></div>
</div>
    
{% endblock %}